<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Ede/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Ede/index.php [L]
</IfModule>
